<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlatziCommerce</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="app">
        <header>
            <h3>PlatziCommerce</h3>
            <button class="cart" v-on:click="carOpen = !carOpen" >Carro (0)</button>
            <div class="cart-content" v-show="carOpen">
                
                <div class="cart-content__product" v-for="product, index in cart" :key="product.name" :class="{'bg-gray': index & 1}">
                    <img v-bind:src="product.images[0].image" :alt="product.name.toUpperCase()">
                    <span> {{ product.name }} - $ {{ new Intl.NumberFormat("es-MX").format(product.price) }} </span>
                </div>
            </div>
        </header>
        <main>
            <section class="product">
                <div class="product__thumbnails">
                    <div v-for="image, index in product.images" :key="image.thumbnail" 
                    class="thumb" 
                    :class="{ active: activeImage === index }" 
                    :style="{ backgroundImage: 'url(' + product.images[index].thumbnail+')'}"
                    @click="activeImage = index"
                    ></div>
                </div>
                <div class="product__image">
                    <img :src="product.images[activeImage].image" alt="product.name">
                </div>
            </section>
            <section class="description">
                <h4> {{ product.name.toUpperCase() }} {{ product.stock === 0 ? ":(" : "8)" }} </h4>
                <span class="badge new" v-if="product.new" >Nuevo</span>
                <span class="badge offer" v-if="product.offer">Oferta</span>
                <p class="description__status" v-if="product.stock === 1 ">último producto disponible</p>
                <p class="description__status" v-else-if="product.stock === 0"> Ya no hay más productos :(</p>
                <p class="description__status" v-else>Que esperas para pedir tu producto</p>
                <p class="description__price">$ {{ new Intl.NumberFormat("es-MX").format(product.price) }}</p>
                <p class="description__content">
                    {{ product.content }}
                </p>
                <div class="discount">
                    <span>Código de descuento:</span>
                    <input type="text" placeholder="Ingresa tu código" @keyup.enter="product.price *= 50/ 100">
                    <button :disabled="product.stock === 0" @click="product.stock -= 1">
                        Agregar al carrito
                    </button>
                </div> 
            </section>
        </main>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                return {
                    product: {
                        name: "Camara",
                        price: 450_000,
                        stock: 2,
                        content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae eum sunt eos quod,
                    voluptates quidem tempora. Eum, ipsum voluptates non aliquid voluptatum delectus nisi vel impedit.
                    Repudiandae, soluta corrupti `,
                    images: [
                        {
                            image: "/images/camara.jpg",
                            thumbnail: "/images/camara-thumb.jpg"
                        },
                        {
                            image: "/images/camara-2.jpg",
                            thumbnail: "/images/camara-2-thumb.jpg"
                        }
                    ],
                    new: true,
                    offer: false
                    },
                    carOpen: true,
                    activeImage:0,
                    cart: [
                        {
                        name: "Camara",
                        price: 450_000,
                        stock: 0,
                        content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae eum sunt eos quod,
                    voluptates quidem tempora. Eum, ipsum voluptates non aliquid voluptatum delectus nisi vel impedit.
                    Repudiandae, soluta corrupti `,
                    images: [
                        {
                            image: "/images/camara.jpg",
                            thumbnail: "/images/camara-thumb.jpg"
                        },
                        {
                            image: "/images/camara-2.jpg",
                            thumbnail: "/images/camara-2-thumb.jpg"
                        }
                    ],
                    new: true,
                    offer: true
                    },
                    {
                        name: "Camara PL",
                        price: 520_000,
                        stock: 10,
                        content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae eum sunt eos quod,
                    voluptates quidem tempora. Eum, ipsum voluptates non aliquid voluptatum delectus nisi vel impedit.
                    Repudiandae, soluta corrupti `,
                    images: [
                        {
                            image: "/images/camara.jpg",
                            thumbnail: "/images/camara-thumb.jpg"
                        },
                        {
                            image: "/images/camara-2.jpg",
                            thumbnail: "/images/camara-2-thumb.jpg"
                        }
                    ],
                    new: true,
                    offer: true
                    },
                    {
                        name: "Camara PL2",
                        price: 250_000,
                        stock: 0,
                        content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae eum sunt eos quod,
                    voluptates quidem tempora. Eum, ipsum voluptates non aliquid voluptatum delectus nisi vel impedit.
                    Repudiandae, soluta corrupti `,
                    images: [
                        {
                            image: "/images/camara.jpg",
                            thumbnail: "/images/camara-thumb.jpg"
                        },
                        {
                            image: "/images/camara-2.jpg",
                            thumbnail: "/images/camara-2-thumb.jpg"
                        }
                    ],
                    new: true,
                    offer: true
                    }
                ]
                }
            }
        });
        app.mount("#app");
    </script>
</body>
</html>